/* SASS - _global.scss - v */
.page {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  list-style-type: none;
  margin: auto;
  padding-inline-start: 0;
}

.container {
  margin: 0 auto;
  width: $width--mobile;

  // --- Tablet - v ---
  @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
    width: $width--tablet;
  }
  // --- Tablet - ^ ---

  // --- Desktop - v ---
  @media screen and (min-width: $width--desktop) {
    width: $width--desktop;
  }
  // --- Desktop - ^ ---
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  // --- Tablet - v ---
  // --- same as in mobile ---
  // @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {}
  // --- Tablet - ^ ---

  // --- Desktop - v ---
  @media screen and (min-width: $width--desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  // --- Desktop - ^ ---
}

.second-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  color: $black-main;

  // --- Tablet - v ---
  // --- same as in mobile ---
  // @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {}
  // --- Tablet - ^ ---

  // --- Desktop - v ---
  @media screen and (min-width: $width--desktop) {
    font-size: 36px;
  }
  // --- Desktop - ^ ---
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black-20opa;
  transition-duration: 0.5s;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.is-hidden {
  pointer-events: none;
  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
/* SASS - _global.scss - ^ */
