/* SASS - _page-header.scss - v */
.header {
  margin: auto;
  border-bottom: 1px solid $background;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
  }

  &__box-nav-list {
    display: none;
    align-items: center;
    list-style-type: none;
    margin: auto;
    padding-inline-start: 0;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      display: flex;
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      display: flex;
    }
    // --- Desktop - ^ ---
  }
  &__nav {
    display: none;

    @media screen and (min-width: $width--tablet) {
      display: inline;
    }
  }

  &__nav-item {
    font-style: normal;
    text-decoration: none;
    color: $black-main;
    margin-left: 46px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* CUBIC */
  &__nav-item:hover,
  &__nav-item:focus {
    color: $blue;
  }

  &__nav-item--active {
    font-style: normal;
    text-decoration: none;
    color: $blue;
    padding-top: 0;
    margin-left: 46px;
    display: flex;
    justify-content: center;
  }

  &__nav-item--active::after {
    content: "";
    position: absolute;
    top: 77px;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: $blue;
  }

  &__contacts {
    display: none;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      display: inline;
      list-style-type: none;
      margin: auto;
      margin-right: 0;
      padding-right: 15px;
      padding-inline-start: 0;
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      display: flex;
      gap: 30px;
      list-style-type: none;
      margin: auto;
      margin-right: 0;
      padding-right: 27px;
      padding-inline-start: 0;
    }
    // --- Desktop - ^ ---
  }

  &__link {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    text-decoration: none;
    fill: $gray;
    color: $gray;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* CUBIC */
  &__link:hover,
  &__link:focus {
    fill: $blue;
    color: $blue;
  }

  &__icon {
    margin-right: 10px;
  }
}
/* SASS - _page-header.scss - ^ */
