/* SASS - _page-footer.scss - v */
.footer {
  background-color: $background-black;
  height: 603px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // --- Tablet - v ---
  @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
    height: 463px;
  }
  // --- Tablet - ^ ---

  // --- Desktop - v ---
  @media screen and (min-width: $width--desktop) {
    height: 252px;
  }
  // --- Desktop - ^ ---

  &__box {
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
    background-color: $background-black;
    list-style-type: none;
    margin: auto;
    padding-inline-start: 0;

    // --- Tablet - v ---
    // --- same as in mobile ---
    // @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {}
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      display: flex;
      text-align: left;
    }
    // --- Desktop - ^ ---
  }

  &__address-section {
    width: $width--mobile;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      width: calc($width--tablet / 2);
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      width: auto;
    }
    // --- Desktop - ^ ---
  }

  &__address {
    margin-top: 20px;
    background-color: $background-black;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      margin-left: 0px;
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      margin-left: 15px;
    }
    // --- Desktop - ^ ---
  }

  &__address-list {
    list-style-type: none;
    margin: auto;
    padding-inline-start: 0;
  }

  &__address-line {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 100%;
    color: $white;
  }

  &__contacts {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $white;
    opacity: 60%;
    display: inline-flex;
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* CUBIC */
  &__contacts:hover,
  &__contacts:focus {
    color: $blue;
  }

  &__social-links {
    margin-top: 60px;
    padding: 0;
    width: $width--mobile;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      margin: auto;
      margin-left: 0px;
      width: calc($width--tablet / 2);
      // width: 100px;
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      margin: 12px 0 0 70px;
      width: auto;
    }
    // --- Desktop - ^ ---
  }

  &__social-header {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    margin: 20px auto auto;
    width: 206px;
    background-color: $background-black;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__social-icon {
    border-radius: 22px;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: $white-10opa;
    fill: $white;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* CUBIC */
  &__social-icon:hover,
  &__social-icon:focus {
    background-color: $blue;
  }

  &__newsletter {
    margin-top: 60px;
    padding: 0;
    width: $width--mobile;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      margin: 60px 0 0 0;
      width: $width--tablet;
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      margin: 12px 0 0 78px;
      width: auto;
    }
    // --- Desktop - ^ ---
  }

  &__newsletter-header {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }

  &__newsletter-box {
    display: inline-block;
    margin-top: 20px;

    // --- Tablet - v ---
    @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {
      display: flex;
      flex-direction: column;
    }
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      display: flex;
      margin-top: 20px;
      height: 50px;
    }
    // --- Desktop - ^ ---
  }

  &__newsletter-input {
    width: 450px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $white-30opa;
    padding-left: 16px;
    background-color: $background-black;
    color: $white;
    opacity: 60%;

    // --- Tablet - v ---
    // --- same as in mobile ---
    // @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {}
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      width: 358px;
    }
    // --- Desktop - ^ ---
  }

  &__newsletter-btn {
    margin: 20px auto 0px;
    width: 200px;
    height: 50px;

    // --- Tablet - v ---
    // --- same as in mobile ---
    // @media screen and (min-width: $width--tablet) and (max-width: $width--desktop) {}
    // --- Tablet - ^ ---

    // --- Desktop - v ---
    @media screen and (min-width: $width--desktop) {
      margin: 0 0 0 20px;
    }
    // --- Desktop - ^ ---
  }

  &__newsletter-icon {
    margin-left: 24px;
  }
}
/* SASS - _page-footer.scss - ^ */
