/* SASS - _team-content.scss - v */
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: $gray-light;

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: $gray-light;
    list-style-type: none;
    margin: 50px auto auto;
    padding-inline-start: 0;
  }

  &__item {
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px $black-12opa, 0px 1px 1px $black-14opa,
      0px 2px 1px $black-20opa;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 428px;
  }

  &__image {
    margin-bottom: 30px;
    padding: 0;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    color: $black-main;
  }

  &__task {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $gray;
    margin: 10px 0 0;
    padding: 0;
  }

  /* START - social-links */
  &__social-links {
    display: flex;
    justify-content: space-between;
    margin: 20px auto auto;
    width: 206px;
    background-color: $white;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__social-icon {
    border-radius: 50%;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    fill: $gray-clients;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* CUBIC */
  &__social-icon:hover,
  &__social-icon:focus {
    background-color: $blue;
    fill: $white;
  }
}
/* END - social-links */
/* SASS - _team-content.scss - ^ */
