$black-main: #212121;
$black-main-20opa: rgba($black-main, 0.2);

$black: #000;
$black-6opa: rgba($black, 0.06);
$black-10opa: rgba($black, 0.1);
$black-12opa: rgba($black, 0.12);
$black-14opa: rgba($black, 0.14);
$black-15opa: rgba($black, 0.15);
$black-16opa: rgba($black, 0.16);
$black-20opa: rgba($black, 0.2);
$black-25opa: rgba($black, 0.25);

$white: #fff;
$white-10opa: rgba($white, 0.1);
$white-30opa: rgba($white, 0.3);

$blue: #2196f3;
$blue-90opa: rgba($blue, 0.9);

$gray: #757575;
$gray-light: #f5f4fa;
$gray-tint: #eee;
$gray-clients: #afb1b8;

$background: #e5e5e5;

$background-black: #2f303a;
$background-black-40opa: rgba($background-black, 0.4);
$background-black-80opa: rgba($background-black, 0.8);

$width--mobile: 480px;
$width--tablet: 768px;
$width--desktop: 1200px;
$width--min: 320px;

$item-width--mobile: 450px;
$item-width--tablet: 354px;
$item-width--desktop: 270px;

$container-width: 1200px;
